.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #272c28;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
