#filter-label{
    padding-right:7rem;
}
.card-body{
    text-align: start;
}
.card-icon{
    margin-right: 10px;
}
.card-image{
    height: 280px;
}
.lease-list{
    display:grid;
    grid-template-columns: 400px 400px 400px;
    grid-column-gap: 50px;
}