/* Apartment.css */

#apartment-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .apt-info {
    width: 45%;
  }
  
  #apartment-images-slider {
    width: 50%;
  }
  
  .apt-info {
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  h4 {
    color: #555;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: left;
  }

  h6 {
    color: #333;
    line-height: 1.5;
  }
  
  button {
    background-color: #272c28;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: rgb(100, 107, 101);
  }
  
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;
}

  #report-space{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #report-message{
    color: rgb(101, 20, 20);
  }

  #report-btn{
    background-color: rgb(122, 5, 5);
    color: white;
    font-style: italic;
    width: 25%;
  }

  #report-btn:hover{
    background-color: rgb(168, 26, 26);
  }
  
  .speech-btn{
    background-color: rgb(42, 17, 105);
    font-weight: bold;
  }

  .speech-btn:hover{
    background-color: rgb(26, 166, 241);
  }