   #order-title{
    padding-left: 6rem;
    padding-top:0.2rem;
   }
   .listings-filters{
      display: grid;
      grid-template-columns: 400px 200px 100px 150px;
      grid-column-gap: 10px;
      margin-left: 14.5rem;
   }
   .order-filter{
      padding: 1.5rem 0 1.5rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
   .search-filter{
      padding-top: 1.5rem;
   }
   .filter-button-dropdown{
      padding-top: 1.5rem;
   }
   .filters-div{
      background-color:white;
      padding: 2rem;
      border-radius: 9px;
   }
   .clear-filters-button{
      padding:1.5rem 2rem 0 0;
   }
   .filters-div-inner{
      display: flex;
      justify-content: space-evenly;
   }
   @media screen and (max-width: 960px){
      .filters-div-inner{
         display: block;
      }
      .clear-filters-button{
         padding:1.5rem 2rem 0 2rem;
      }
      .listings-filters{
         display:block;
         margin-left:auto
      }
      .filters-div{
         margin: 1rem;
      }
      #order-title{
         padding-left: 3rem;
      }
      .order-filter{
         grid-template-columns: auto auto;
         padding-right: 1.5rem;
      }
      .search-filter{
         padding:0 1.5rem 0rem 4rem;
      }
      .filter-button-dropdown{
         padding-top: auto;
      }
      .num-filters{
         flex-wrap: nowrap;
      }

   }