.button-icon {
    width: 1.2em;
    height: 1.2em;
  }
  
  .button-icon path,
  .button-icon polygon,
  .button-icon rect {
    fill: gray;
  }
  
  .button-icon circle {
    stroke: grey;
    stroke-width: 1;
  }

  .yearselector-btn {
    all: unset;
    display: flex;
    flex: 1;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  #next {
    transform: rotate(180deg); 
  }

  .yearselector-lbl {
    flex:4;
    display: block;
    text-align: center;
    user-select: none;
    height: 1rem;
  line-height: 1rem;
  }
  .yearselector {
    display: flex;
    flex-direction: row;
    width: 180px ;
    border: 1px solid #D3D3D3;
    justify-content: space-between;
    padding: 10px;
    border-radius: 3px;
    opacity: 0.7;
    transition: ease-in 0.3s;
    height: 1rem;
  }
  .yearselector:hover {
    opacity: 1;
  }

